<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label" *ngIf="type === 'CREATED'">Thêm mới hợp phần</h3>
            <h3 class="card-label" *ngIf="type === 'UPDATED'">Cập nhật hợp phần</h3>
        </div>
    </div>
    <form class="form" [formGroup]="editForm" (ngSubmit)="save()">
        <div class="card-body row">
            <div class="form-group col-sm-6">
                <label class="form-control-label" for="code">Mã hợp phần(*)</label>
                <input type="text" class="form-control text-uppercase" id="code" formControlName="code"
                       placeholder="Nhập mã hợp phần" trimSpaceBeginEnd [readOnly]="type === 'UPDATED'"/>
                <div class="error-msg" *ngIf="frm.code.invalid && (frm.code.dirty || frm.code.touched)">
                    <span *ngIf="frm.code.errors.required">Trường thông tin bắt buộc nhập <br/></span>
                    <span *ngIf="frm.code.errors.maxlength">Trường thông tin không vượt quá 50 ký tự <br/></span>
                    <span *ngIf="frm.code.errors.pattern">Trường thông tin chỉ chứa các chữ, các số và dấu '_', không chứ ký tự đặc biệt</span>
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="form-control-label" for="name">Tên hợp phần(*)</label>
                <input type="text" class="form-control" id="name" trimSpaceBeginEnd
                       placeholder="Nhập tên hợp phần" formControlName="name"/>
                <div class="error-msg" *ngIf="frm.name.invalid && (frm.name.dirty || frm.name.touched)">
                    <span *ngIf="frm.name.errors.required">Trường thông tin bắt buộc nhập <br/></span>
                    <span *ngIf="frm.name.errors.maxlength">Trường thông tin không vượt quá 255 ký tự</span>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="form-control-label" for="description">Mô tả</label>
                <input type="text" class="form-control" id="description" trimSpaceBeginEnd
                       placeholder="Mô tả" formControlName="description"/>
            </div>
        </div>
        <div class="card-footer text-right">
            <button mat-raised-button type="button" class="mr-2"
                    (click)="dialogRef.close(false)">
                <span>{{'BUTTON.CANCEL' | translate}}</span>
            </button>
            <button mat-raised-button color="primary" type="submit"
                    [disabled]="editForm.invalid || (isProcessing | async)">
                <span>{{'BUTTON.APPROVE' | translate}}</span>
            </button>
        </div>
    </form>
</div>
