<div class="login login-3 login-signin-on d-flex flex-row-fluid" id="kt_login">
    <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid">
        <div class="login-form text-center text-white position-relative overflow-hidden">
            <!--begin::Login Header-->
            <!--<div class="d-flex flex-center mb-10">
                <a href="#"><img src="assets/media/logos/logo.png" class="max-h-100px" alt=""></a>
            </div>-->
            <!--end::Login Header-->
            <!--begin::Login Sign in form-->
            <div class="login-signin">
                <div class="mb-15">
                    <h3>{{'AUTH.LOGIN.TITLE' | translate}}</h3>
                    <p class="opacity-60 font-weight-bold">{{'AUTH.LOGIN.TITLE_DESC' | translate}}</p>
                </div>
                <app-login></app-login>
            </div>
            <!--end::Login Sign in form-->
            <!--begin::Login Sign up form-->
            <!--end::Login forgot password form-->
        </div>
    </div>
    <div style="position: absolute; top: 10px; right: 10px">
        <app-language-selector></app-language-selector>
    </div>
</div>
