<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">{{'AUTH.CHANGE_PASSWORD.TITLE' | translate}}</h3>
        </div>
    </div>
    <form class="form" [formGroup]="editForm" (ngSubmit)="save()">
        <div class="card-body">
            <div class="form-group pt-0">
                <label class="form-control-label" for="currentPassword">{{'AUTH.CHANGE_PASSWORD.CURRENT_PASSWORD' | translate}}(*)</label>
                <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword"
                       placeholder="{{'AUTH.CHANGE_PASSWORD.PLACEHOLDER_CURRENT_PASSWORD' | translate}}" trimSpaceBeginEnd/>
                <div class="error-msg"
                     *ngIf="frm.currentPassword.invalid && (frm.currentPassword.dirty || frm.currentPassword.touched)">
                    <span *ngIf="frm.currentPassword.errors.required">{{'message.required' | translate}}</span>
                    <span *ngIf="frm.currentPassword.errors.maxlength">{{'message.maxLength_error' | translate : {maxlength: 60} }}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="newPassword">{{'AUTH.CHANGE_PASSWORD.NEW_PASSWORD' | translate}}(*)</label>
                <input type="password" class="form-control" id="newPassword" formControlName="newPassword"
                       placeholder="{{'AUTH.CHANGE_PASSWORD.PLACEHOLDER_NEW_PASSWORD' | translate}}" trimSpaceBeginEnd/>
                <div class="error-msg"
                     *ngIf="frm.newPassword.invalid && (frm.newPassword.dirty || frm.newPassword.touched)">
                    <span *ngIf="frm.newPassword.errors.required">{{'message.required' | translate}}</span>
                    <span *ngIf="frm.newPassword.errors.maxlength">{{'message.maxLength_error' | translate : {maxlength: 60} }}</span>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button mat-raised-button type="button" class="mr-2" (click)="dialogRef.close(false)">
                <span>{{'BUTTON.CANCEL' | translate}}</span>
            </button>
            <button mat-raised-button color="primary" type="submit"
                    [disabled]="editForm.invalid || (isProcessing | async)">
                <span>{{'AUTH.CHANGE_PASSWORD.BUTTON' | translate}}</span>
            </button>
        </div>
    </form>
</div>
