<!-- begin::Notifications Panel-->
<div id="kt_quick_notifications" class="offcanvas p-10" [ngClass]="extrasNotificationsOffcanvasDirectionCSSClass">
    <!--begin::Header-->
    <div class="offcanvas-header d-flex align-items-center justify-content-between mb-10">
        <h3 class="font-weight-bold m-0">Thông báo
            <small class="text-muted font-size-sm ml-2">{{ws.messageTotalNews | async}} Tin mới</small>
        </h3>
        <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_notifications_close">
            <i class="ki ki-close icon-xs text-muted"></i>
        </a>
    </div>
    <!--end::Header-->

    <!--begin::Content-->
    <div class="offcanvas-content pr-5 mr-n5">
        <!--begin::Nav-->
        <div class="navi navi-icon-circle navi-spacer-x-0">
            <!--begin::Item-->
            <a class="navi-item" *ngFor="let item of messages | async" (click)="markReadMessage(item)">
                <div class="navi-link rounded">
                    <div class="symbol symbol-50 symbol-circle mr-3">
                        <div class="symbol-label">
                            <i class="flaticon-bell icon-lg" [ngClass]="{'text-success': item.status === 'SENT'}"></i>
                        </div>
                    </div>
                    <div class="navi-text cursor-pointer">
                        <div class="font-size-lg" [ngClass]="{'sb-text-bold': item.status === 'SENT'}">
                            {{item.title}}
                        </div>
                        <div class="text-muted">
                            <span>Ngày: </span>
                            <span class="pl-2">{{item.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                        </div>
                        <div class="text-muted">{{item.message}}</div>
                    </div>
                </div>
            </a>
            <!--end::Item-->
        </div>
        <!--end::Nav-->
    </div>
    <!--end::Content-->
</div>
<!-- end::Notifications Panel-->
